* {
  box-sizing: border-box;
}

body {
	font-family: "Lato", sans-serif;
	margin: 0;
}

.mySlides {
	display: none
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  overflow: hidden;
  box-shadow: 0px 2px 5px #000;
}
.nav-ul li {
  /* float: left will also work to get all lis in line with all <a> tags' display block
        but with display block we cant give display inline to li it should be inline block because <a> inside li is having display block.
    */
  /* float: left; */
  display: inline-block;
}
.nav-ul li a {
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
  padding: 14px 16px;
}

.nav-ul li:hover {
  background-color: #111;
}
.mobile-nav {
  display: none;
  position: fixed;
  top: 47px;
  left: 0;
  width: 100%;
}
.mobile-nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  overflow: hidden;
}
.mobile-navbar-ul li {
	display: block;
}
.mobile-nav-ul li a {
	text-decoration: none;
  color: white;
  display: block;
  text-align: left;
  padding: 14px 16px;
}
.center {
	text-align: center;
}
.my-container {
	display: block;
	position: relative;
}
.bottomMiddle-slide {
	position: absolute;
	bottom: 9%;
	left: 45%;
}
.white {
	color: #fff;
}
.bg-white {
  background-color: white;;
}
.col-3 {
	float: left;
	width: 100%;
}
.row:after {
	content: '';
	clear: both;
	display: table;
}
.wide-4 {
	letter-spacing: 4px;
}
.content {
	margin-left: auto;
	margin-right: auto;
}
.opacity-light {
	opacity: 0.7;
}
.border-round {
	border-radius: 5px;
}
.padding-64 {
	padding: 64px 0px 64px 0px;
}
.padding-32 {
	padding: 32px 0px 32px 0px;
}
.bg-black {
  background-color: #000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Segoe UI",Arial,sans-serif;
  font-weight: 400;
  margin: 10px 0;
}
.tour-ul {
  list-style-type: none;
  background-color: white;
  margin: 0;
  padding: 0;
}
.tour-border {
  border: 1px solid #ccc;
}
.tour-tag {
  background-color: red;
  color: #fff;
  display: inline-block;
  overflow: hidden;
}
.tour-badge {
  background-color: #000;
  border-radius: 50%;
  padding: 0px 6px 0px 6px !important;
  color: #fff;
  margin-right: 15px;

}
.tour-padding {
  padding: 2.01em 16px;
}
.text-left {
  text-align: left;
}
.mb-20 {
  margin-bottom: 20px;
}
.right {
  float: right;
}
.right::after {
  content: '';
  clear: both;
  display: inline;
}
.show-hamburger {
  display: block !important;
}
.text-grey {
  color: gray;
}
.tour-ul > li {
  padding: 8px 16px;
  text-align: left;
  border-bottom: 1px solid lightgrey;
}
.tour-ul > li:last-child {
  border-bottom: none;
}
.tour-tag, .tour-badge {
  display: inline-block;
  text-align: center;
  margin-left: 10px;
  padding: 0px 8px 0px 8px;
  vertical-align: middle;
}
.row-padding > .col-3 {
  padding: 0px 8px;
}
.row-padding::after {
  content: '';
  clear: both;
  display: table;
}

@media screen and (max-width: 600px) {
  .hide-small {
    display: none !important;
    transition: width 2s linear 1s;
	}
	.mobile-nav {
    display: none;
    z-index: 1;
  }
}

@media screen and (min-width: 601px) {
  .col-3 {
    width: 33.33%;
  }
  .hide-hamburger {
    display: none !important;
  }
}
