* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Open sans", sans-serif;
  color: #696969;
  /* font-family: "CerebriSans"; */
}
.top-hiring {
  font-size: 15px;
  font-weight: 600;
  color: #002fa6;
  cursor: pointer;
}
.top-hiring:hover {
  color: #d2a98e;
  transition: ease-in 0.5s;
}
.top-header {
  text-align: center;
  font-size: 12px;
  border-bottom: 1px solid #eaeaea;
  padding: 7px 10spx;
}
.brand-img {
	width: 100%;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
}
.padding-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.d-flex {
  display: flex;
}
.header-logo {
  flex-basis: 13%;
  align-items: center;
}
.header-middle {
  margin-left: 95px;
}
.header-middle ul {
  list-style: none;
}
.header-middle > ul {
  display: flex;
  padding: 0;
}
.header-middle > ul > li {
  margin-right: 24px;
  position: relative;
  right: 0;
}
.header-middle a {
  text-decoration: none;
  font-size: 16px;
  color: black;
  line-height: 1.18px;
}
.header-middle > ul > li > a {
  display: block;
  padding:20px 2px;
}
.home-menu:hover .home-submenu{
  visibility: visible;
  /* transition: 1s ease-in; */
  opacity: 1;
  transform: translateY(0px);
}
.home-submenu {
  visibility: hidden;
  transition-duration: 0.4s;
  transform: translateY(50px);
  position: absolute;
  /* top: 100%; */
  opacity: 0;
  padding: 0;
}
.home-menu > .home-submenu ul {
  padding: 0;
}
/* .home-submenu ul li {
  width: 250px;
} */
